@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  overflow-x: hidden;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
  color: #2d3436;
}

.btn {
  background-color: #252525;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #e74c3c;
  transition: all 0.2s ease-in;
}
